.sdcs-header {
  text-align: center;
}

.sdcs-header img {
  max-height: 128px;
}

.big-emoji {
  font-size: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600!important;
}

h1 {
  font-size: 2.5em!important;
  text-align: center;
}